<p>Let's review your responses.</p>

<p><strong><%= translate(".patterson_park") %></strong></p>

<% if @patterson_park_guests.attending.any? %>
  <p>
    <%=
      translate(
        ".attending",
        guests: @patterson_park_guests.attending.map(&:name).to_sentence
      )
    %>
  </p>
<% end %>

<% if @patterson_park_guests.not_attending.any? %>
  <p>
    <%=
      translate(
        ".not_attending",
        guests: @patterson_park_guests.not_attending.map(&:name).to_sentence
      )
    %>
  </p>
<% end %>

<p><strong><%= translate(".douglass_myers") %></strong></p>

<% if @douglass_myers_guests.attending.any? %>
  <p>
    <%=
      translate(
        ".attending",
        guests: @douglass_myers_guests.attending.map(&:name).to_sentence
      )
    %>
  </p>
<% end %>

<% if @douglass_myers_guests.not_attending.any? %>
  <p>
    <%=
      translate(
        ".not_attending",
        guests: @douglass_myers_guests.not_attending.map(&:name).to_sentence
      )
    %>
  </p>
<% end %>

<p><%= link_to translate(".edit"), new_patterson_park_responses_path %></p>

<%= button_to translate("submit"), party_response_submissions_path %>
