<h1>Let's Review Your Responses</h1>

<div class="section">
  <h2 class="blue"><%= translate(".patterson_park") %></h2>

  <% @patterson_park_guests.attending.each do |guest| %>
    <p>✅ <%= guest.name %></p>
  <% end %>

  <% @patterson_park_guests.not_attending.each do |guest| %>
    <p>❌ <%= guest.name %></p>
  <% end %>
</div>

<div class="section">
  <h2 class="blue"><%= translate(".douglass_myers") %></h2>

  <% @douglass_myers_guests.attending.each do |guest| %>
    <p>✅ <%= guest.name %></p>
  <% end %>

  <% @douglass_myers_guests.not_attending.each do |guest| %>
    <p>❌ <%= guest.name %></p>
  <% end %>
</div>

<div class="section">
  <%= button_to translate(".edit"), new_patterson_park_responses_path, method: :get, class: 'button blue' %>

  <%= button_to translate("submit"), party_response_submissions_path, class: 'button blue' %>
</div>
