<%= form_for [:admin, guest.party, guest] do |guest_form| %>
  <p>
    <%= guest_form.label(:first_name) %>
    <%= guest_form.text_field(:first_name) %>
  </p>

  <p>
    <%= guest_form.label(:last_name) %>
    <%= guest_form.text_field(:last_name) %>
  </p>

  <p>
    <%= guest_form.submit %>

    <% if request.query_parameters[:more_guests] %>
      <%= guest_form.submit "Add More Guests", name: "more_guests" %>
    <% end %>
  </p>
<% end %>
